<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style media="screen">

    .container {
      width: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height:450px;
       overflow-y: scroll;
    }

    .log {
      color:black;
      float:right;
      right:100px;
      padding: 10px 25px;

    }

    .banner{
      text-align: center;
      border-bottom: 1px solid black;
      position: relative;
      height: 80px;
      background-color: #EA601D;
      margin-bottom:20px;
    }

    .brand {
      position: relative;
      top: 10px;
      color: white;
      font-size: 2em;
    }


    .welcome {
      margin-bottom:40px;
      text-align: center;
    }


    .card {
        margin:6%;
        text-align: center;
        align-content: center;
        height: auto;
        border: 1px solid black;
        width: 30%;
      }

      .dropdowns{
        margin-left: 20px;
        padding-left: 10px;
      }

      .dropddowns2 {
        margin-left: 20px;
        padding-left: 10px;
      }

      footer{
        margin-top: 135px;
        text-align: center;
        background-color: silver;
        border-top: 1px solid black;
        line-height: 30px;
        margin-bottom: :10px;
      }
    </style>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  </head>

  <body>

    <div class="banner">
        <i class="fas fa-shopping-cart fa-md"></i>
        <span class="brand">Shopright</span>

    </div>
         <a class="log" href="/">Logout</a>
     <section class="dropdowns">
         <div class="dropdown1">
            <h5 class= "welcome">Welcome <%=users.name%></h5>
          </div>

       <div class="dropdowns2">
             <a href="/get_postItem/<%=users.id%>">Post Item</a>  <span><b>|</b></span>
             <a href="/shoppingCart/<%=users.id%>">Shopping Cart</a>  <span><b>|</b></span>
             <a href="/wishList/<%=users.id%>">Wish Lists</a>  <span><b>|</b></span>

       </div>

      </section>

    <!-- <div class="search-container">
        <form action="/" method="post">
            <input type="text" placeholder="Search.." name="search" >
            <button type="submit">Submit</button>
        </form>
    </div> -->

    <div class="container">
        <% for(let i = 0; i<items.length; i++){ %>
            <div class="card">
            <h3><%= items[i].name %></h3>
            <div><img src="<%=items[i].img_url%>" alt='image of products' height= "275" width="275"></div>
            <div><a class="btn btn-secondary btn-sm btn-block" href="/product_details/<%=items[i].id%>">Product Details</a></div>
            </div>
        <% } %>
    </div>
<footer>&copy; Copyright 2019 Ed & Jun</footer>
  </body>
</html>
