<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">

    .container {
      width: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height:450px;
       overflow-y: scroll;
    }

    .log {

    }


    .card {
        margin:6%;
        text-align: center;
        align-content: center;
        height: auto;
        border: 1px solid black;
        width: 30%;
      }

      footer{
        margin-top: 135px;
        text-align: center;
        background-color: silver;
        border-top: 1px solid black;
        line-height: 30px;
        margin-bottom: :10px;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body>
    <section>
         <a class="log" href="/">Logout</a>
            <h5 class= "welcome">Welcome <%=users.name%></h5>
                <a href="/get_postItem/<%=users.id%>">Post Item</a>
                <a href="/shoppingCart/<%=users.id%>">Shopping Cart</a>
                <a href="/wishList/<%=users.id%>">Wish Lists</a>
                <a href="/get_orders/<%=users.id%>">Orders</a>
      </section>

    <div class="search-container">
        <form action="/" method="post">
            <input type="text" placeholder="Search.." name="search" >
            <button type="submit">Submit</button>
        </form>
    </div>

    <div class="container">
        <% for(let i = 0; i<items.length; i++){ %>
            <div class="card">
            <h3><%= items[i].name %></h3>
            <div><img src="<%=items[i].img_url%>" alt='image of products' height= "275" width="275"></div>
            <div><a class="btn btn-secondary btn-sm btn-block" href="/product_details/<%=items[i].id%>">Product Details</a></div>
            </div>
        <% } %>
    </div>
<footer>&copy; Copyright 2019 Ed & Jun</footer>
  </body>
</html>
