<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Wishlist</title>
    <style media="screen">

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>


     <div class="container">
<<<<<<< HEAD
     <% for(let i = 0; i<WishList.length; i++){ %>
         <div class="card">
         <h3><%= WishList[i].item_name %></h3>
         <h3>$<%= WishList[i].price %></h3>
         <div><img src="<%=WishList[i].img_url%>" alt='image of products' height= "275" width="275"></div>
         
         <div><a class="btn btn-secondary btn-sm btn-block" href=""> Add to Cart</a></div>
         <div><a class="btn btn-secondary btn-sm btn-block" href="/delete/item/from/WishList/<%= WishList[i].id %>"> Delete from Wish List</a></div>
         </div>
     <% } %>
   </div>
=======
         <% for(let i = 0; i < wishCart.length; i++){ %>
                 <h3><%= wishCart[i].item_name %></h3>
                 <div><img src="<%=wishCart[i].img_url%>" alt='image of products' height= "275" width="275"></div>
                  <p>Description: <%= wishCart[i].description%></p>
                  <div><a class="btn btn-`secondary btn-sm btn-block" href="/add_to_shopping_cart/<%= wishCart[i].id %>"> Add to Cart</a></div>
             </div>
         <% } %>
     </div>

>>>>>>> f496836b00bc603f8d2ee175a7ef241fdaf74b7d




  </body>
</html>
